---
title: Smart City
---
extends layouts/_layout
block content
	+b.SECTION.section._has-decor
		+e.top._color-1
			+e.container.container
				+e.H2.title.title-lg 13 июня 2017
		+b.event.container
			+e.in
				+e.title
					+e.date 14:00-16:00
					+e.H1.text.title-md Национальная электронная площадка
				+e.P.descr Получение ЭП в УЦ ЕЭТП. Аккредитация участников на ЕЭТП. Возможности обучения с получением сертификатов государственного образца

	+b.SECTION.section
		+e.top._color-2
			+e.container.container
				+e.H2.title.title-sm План-график планируемых
					+e.BR
					| мероприятий

		+b.table-wrapper
			+b.event-table
				+e.head
					+e.row
						+e.cell._font Дата
						+e.cell._font Время
						+e.cell._font Организатор
						+e.cell._font Тема
						+e.cell._font Формат
							+e.BR
							| мероприятия
						+e.cell Контакты для осуществления предварительной записи на мероприятия
						+e.cell Планируемое количество участников
						+e.cell Ответственный за проведение мероприятий
						+e.cell Контактная
							+e.BR
							| информация
							+e.BR
							| ответственного
						+e.cell Специалист, ведущий мероприятие
						+e.cell Возможность участия посетителей
						+e.cell Техническое сопровождение
				+e.in.js-event-table-scroll
					+e.body
						+e.row
							+e.cell._font 01.06.2017
							+e.cell._font 11:00 – 13:00
							+e.cell._font Сбербанк-АСТ
							+e.cell Электронные сервисы для участников инвестиционных торгов
							+e.cell Лекция-презентация
							+e.cell
								+e.A(href='mailto:univer@sberbank-ast.ru') univer@sberbank-ast.ru
							+e.cell 20
							+e.cell Алалыкина Е.Г.
							+e.cell
								+e.A(href='mailto:EGAlalykina@sberbank-ast.ru') EGAlalykina@sberbank-ast.ru
								+e.A(href='tel:916026532') (916) 102-65-32
							+e.cell Черный Андрей Сергеевич
							+e.cell да
							+e.cell проектор, экран, доступ в Интернет

						+e.row
							+e.cell._font 01.06.2017
							+e.cell._font 14:30-18:00
							+e.cell._font Тендерный комитет
							+e.cell Школа юного инвестора
							+e.cell Бизнес-квест
							+e.cell
								+e.A(href='mailto:SemenovaTE1@mos.ru') SemenovaTE1@mos.ru
								+e.A(href='tel:4959577500') (495) 957-75-00
								+e.SPAN доб.57-068
							+e.cell 40
							+e.cell Семенова Т.Е.
							+e.cell
								+e.A(href='mailto:SemenovaTE1@mos.ru') SemenovaTE1@mos.ru
								+e.A(href='tel:4959577500') (495) 957-75-00
								+e.SPAN доб.57-068
							+e.cell Ведущие Мастерславля
							+e.cell да
							+e.cell проектор, экран, доступ в Интернет

						+e.row
							+e.cell._font 02.06.2017
							+e.cell._font 10:00-12:00
							+e.cell._font Национальная электронная площадка
							+e.cell Электронные сервисы и порядок участия в электронных торгах по 44-ФЗ, 223-ФЗ. Подготовка документов и аккредитация участников на электронной площадке
							+e.cell Лекция
							+e.cell bocharova@etpz.ru,
								+e.A(href='tel:9151831379') (915) 183 13 79
								+e.A(href='mailto:volkova@etpz.ru') volkova@etpz.ru,
								+e.A(href='tel:9688658485') (968) 865 84 85
							+e.cell 5-15
							+e.cell Бочарова А.В.
								+e.BR
								| Волкова Е.С.
							+e.cell
								+e.A(href='mailto:bocharova@etpz.ru') bocharova@etpz.ru,
								+e.A(href='tel:9151831379') (915) 183 13 79
								+e.A(href='mailto:volkova@etpz.ru') volkova@etpz.ru,
								+e.A(href='tel:9688658485') (968) 865 84 85
							+e.cell предварительно
								+e.BR
								| Бочарова А.В.
								+e.BR
								| Волкова Е.С.
								+e.BR
								| (возможна замена)
							+e.cell да
							+e.cell проектор, экран, доступ в Интернет

						+e.row
							+e.cell._font 01.06.2017
							+e.cell._font 14:30-18:00
							+e.cell._font Тендерный комитет
							+e.cell Школа юного инвестора
							+e.cell Бизнес-квест
							+e.cell
								+e.A(href='mailto:SemenovaTE1@mos.ru') SemenovaTE1@mos.ru
								+e.A(href='tel:4959577500') (495) 957-75-00
								+e.SPAN доб.57-068
							+e.cell 40
							+e.cell Семенова Т.Е.
							+e.cell
								+e.A(href='mailto:SemenovaTE1@mos.ru') SemenovaTE1@mos.ru
								+e.A(href='tel:4959577500') (495) 957-75-00
								+e.SPAN доб.57-068
							+e.cell Ведущие Мастерславля
							+e.cell да
							+e.cell проектор, экран, доступ в Интернет

						+e.row
							+e.cell._font 06.06.2017
							+e.cell._font 14:00-16:00
							+e.cell._font Единая электронная торговая площадка
							+e.cell Коммерческие закупки, 223-ФЗ. Электронные торги и документооборот на ЕЭТП. Особенности и дополнительные возможности функционала ЕЭТП.
							+e.cell Лекция-презентация
							+e.cell
								+e.A(href='mailto:lazareve@roseltorg.ru') lazareve@roseltorg.ru,
								+e.A(href='mailto:Lviktoria24@gmail.com') Lviktoria24@gmail.com,
								+e.A(href='https://www.roseltorg.ru/') www.roseltorg.ru
								+e.SPAN тел.276-16-26 (доб.2824)
								+e.A(href='mailto:lazareve@roseltorg.ru') lazareve@roseltorg.ru,
									+e.A(href='mailto:Lviktoria24@gmail.com') Lviktoria24@gmail.com,
									+e.A(href='https://www.roseltorg.ru/') www.roseltorg.ru
									+e.SPAN тел.276-16-26 (доб.2824)
							+e.cell 15
							+e.cell Фролова В.Ю.
							+e.cell
								+e.A(href='mailto:lazareve@roseltorg.ru') lazareve@roseltorg.ru,
								+e.A(href='mailto:Lviktoria24@gmail.com') Lviktoria24@gmail.com,
								+e.A(href='https://www.roseltorg.ru/') www.roseltorg.ru
								+e.SPAN тел.276-16-26 (доб.2824)
							+e.cell Фролова В.Ю.
							+e.cell да
							+e.cell проектор, экран, доступ в Интернет
						+e.row
							+e.cell._font 01.06.2017
							+e.cell._font 11:00 – 13:00
							+e.cell._font Сбербанк-АСТ
							+e.cell Электронные сервисы для участников инвестиционных торгов
							+e.cell Лекция-презентация
							+e.cell
								+e.A(href='mailto:univer@sberbank-ast.ru') univer@sberbank-ast.ru
							+e.cell 20
							+e.cell Алалыкина Е.Г.
							+e.cell
								+e.A(href='mailto:EGAlalykina@sberbank-ast.ru') EGAlalykina@sberbank-ast.ru
								+e.A(href='tel:916026532') (916) 102-65-32
							+e.cell Черный Андрей Сергеевич
							+e.cell да
							+e.cell проектор, экран, доступ в Интернет

						+e.row
							+e.cell._font 01.06.2017
							+e.cell._font 14:30-18:00
							+e.cell._font Тендерный комитет
							+e.cell Школа юного инвестора
							+e.cell Бизнес-квест
							+e.cell
								+e.A(href='mailto:SemenovaTE1@mos.ru') SemenovaTE1@mos.ru
								+e.A(href='tel:4959577500') (495) 957-75-00
								+e.SPAN доб.57-068
							+e.cell 40
							+e.cell Семенова Т.Е.
							+e.cell
								+e.A(href='mailto:SemenovaTE1@mos.ru') SemenovaTE1@mos.ru
								+e.A(href='tel:4959577500') (495) 957-75-00
								+e.SPAN доб.57-068
							+e.cell Ведущие Мастерславля
							+e.cell да
							+e.cell проектор, экран, доступ в Интернет

						+e.row
							+e.cell._font 02.06.2017
							+e.cell._font 10:00-12:00
							+e.cell._font Национальная электронная площадка
							+e.cell Электронные сервисы и порядок участия в электронных торгах по 44-ФЗ, 223-ФЗ. Подготовка документов и аккредитация участников на электронной площадке
							+e.cell Лекция
							+e.cell bocharova@etpz.ru,
								+e.A(href='tel:9151831379') (915) 183 13 79
								+e.A(href='mailto:volkova@etpz.ru') volkova@etpz.ru,
								+e.A(href='tel:9688658485') (968) 865 84 85
							+e.cell 5-15
							+e.cell Бочарова А.В.
								+e.BR
								| Волкова Е.С.
							+e.cell
								+e.A(href='mailto:bocharova@etpz.ru') bocharova@etpz.ru,
								+e.A(href='tel:9151831379') (915) 183 13 79
								+e.A(href='mailto:volkova@etpz.ru') volkova@etpz.ru,
								+e.A(href='tel:9688658485') (968) 865 84 85
							+e.cell предварительно
								+e.BR
								| Бочарова А.В.
								+e.BR
								| Волкова Е.С.
								+e.BR
								| (возможна замена)
							+e.cell да
							+e.cell проектор, экран, доступ в Интернет

						+e.row
							+e.cell._font 01.06.2017
							+e.cell._font 14:30-18:00
							+e.cell._font Тендерный комитет
							+e.cell Школа юного инвестора
							+e.cell Бизнес-квест
							+e.cell
								+e.A(href='mailto:SemenovaTE1@mos.ru') SemenovaTE1@mos.ru
								+e.A(href='tel:4959577500') (495) 957-75-00
								+e.SPAN доб.57-068
							+e.cell 40
							+e.cell Семенова Т.Е.
							+e.cell
								+e.A(href='mailto:SemenovaTE1@mos.ru') SemenovaTE1@mos.ru
								+e.A(href='tel:4959577500') (495) 957-75-00
								+e.SPAN доб.57-068
							+e.cell Ведущие Мастерславля
							+e.cell да
							+e.cell проектор, экран, доступ в Интернет

						+e.row
							+e.cell._font 06.06.2017
							+e.cell._font 14:00-16:00
							+e.cell._font Единая электронная торговая площадка
							+e.cell Коммерческие закупки, 223-ФЗ. Электронные торги и документооборот на ЕЭТП. Особенности и дополнительные возможности функционала ЕЭТП.
							+e.cell Лекция-презентация
							+e.cell
								+e.A(href='mailto:lazareve@roseltorg.ru') lazareve@roseltorg.ru,
								+e.A(href='mailto:Lviktoria24@gmail.com') Lviktoria24@gmail.com,
								+e.A(href='https://www.roseltorg.ru/') www.roseltorg.ru
								+e.SPAN тел.276-16-26 (доб.2824)
								+e.A(href='mailto:lazareve@roseltorg.ru') lazareve@roseltorg.ru,
									+e.A(href='mailto:Lviktoria24@gmail.com') Lviktoria24@gmail.com,
									+e.A(href='https://www.roseltorg.ru/') www.roseltorg.ru
									+e.SPAN тел.276-16-26 (доб.2824)
							+e.cell 15
							+e.cell Фролова В.Ю.
							+e.cell
								+e.A(href='mailto:lazareve@roseltorg.ru') lazareve@roseltorg.ru,
								+e.A(href='mailto:Lviktoria24@gmail.com') Lviktoria24@gmail.com,
								+e.A(href='https://www.roseltorg.ru/') www.roseltorg.ru
								+e.SPAN тел.276-16-26 (доб.2824)
							+e.cell Фролова В.Ю.
							+e.cell да
							+e.cell проектор, экран, доступ в Интернет

	+b.SECTION.section._has-triangle
		+e.in
			+b.program
				+e.top
					+e.H2.title программа мероприятий
				+e.item
					+e.item-date 01.06.2017
					+e.item-time 11:00-13:00
					+e.item-text Электронные сервисы для участников
						+e.BR
						| имущественных торгов
				+e.item
					+e.item-date 01.06.2017
					+e.item-time 14:30-18:00
					+e.item-text._fs Школа юного инвестора
				+e.item
					+e.item-date 02.06.2017
					+e.item-time 10:00-12:00
					+e.item-text Электронные сервисы и порядок участия в электронных торгах по 44-ФЗ, 223-ФЗ. Подготовка документов и аккредитация участников на электронной площадке
				+e.item
					+e.item-date 02.06.2017
					+e.item-time 14:30-18:00
					+e.item-text._fs Школа юного инвестора
				+e.item
					+e.item-date 06.06.2017
					+e.item-time 14:00-16:00
					+e.item-text Коммерческие закупки, 223-ФЗ. Электронные торги и документооборот на ЕЭТП. Особенности и дополнительные возможности функционала ЕЭТП.
			+e.in-lines
		+e.triangle

	+b.SECTION.section._has-triangle._has-triangle-2
		+b.announce
			+e.in
				+e.time
					+e.TIME.time-date 13 июня 2017
					+e.time-hour 14:00-16:00
				+e.H2.title Национальная электронная площадка
				+e.P.text Получение ЭП в УЦ ЕЭТП.
				+e.P.text Аккредитация участников на ЕЭТП.
				+e.P.text Возможности обучения с получением сертификатов государственного образца
		+e.triangle